html, body {
	/*<!-- TODO: Import and modify fonts-->*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	overflow: visible;
	text-align: center;
	margin: 0;
}

#title {
	margin-top: 6vh;
	height: 10vh;
}


#package-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.package {
	width: 33vw;
	margin-left: 2vw;
	margin-right: 2vw;
	border-style: solid;
	border-width: 1px;
}

.package-title {
	margin-top: 4vh;
}

.package-content {
	text-align: left;
	margin-left: 3vw;
	margin-right: 3vw;
}

.package-price {
	margin-bottom: 5vh;

}

#custom-package {
	justify-content: left;
	margin-top: 5vh;
	height: 8vh;
	border-style: solid;
	border-width: 1px;
}

#custom-title {
	position: relative;
	left: -40vw;
}

#custom-content {
	text-align: center;
}

#faq-contact {
	height: 5vh;
}

#faq-button {

}

#contact-button {

}

#thank-you {
	height: 5vh;
}

#sponsors-collage {
	height: 60vh;
	border-style: solid;
	border-width: 1px;
}

.sponsor {

}

#footer {

}
