html, body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	overflow: visible;
	text-align: center;
	margin: 0;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 18px;
}

#title {
	font-family: 'Overpass', sans-serif;
	font-size: 48px;
	margin-top: 30px;
	margin-bottom: 32px;
	height: 10vh;
}


#package-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 0.5vw;
	margin-left: 0.5vw;
}

.package {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33vw;
	background-color: #dadfff;
	margin-left: 1vw;
	margin-right: 1vw;
	border-radius: 15px;
	line-height: 1.4;
	height: 610px;
	overflow: scroll;
}

.package-title {
	margin-top: 24px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 36px;
}

.package-content {
	text-align: left;
	margin-left: 2vw;
	margin-right: 2vw;
}

.package-price {
	margin-bottom: 24px;
	color: white;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 36px;
}

.package-price#Gigabyte {
	position: relative;
	top: 230px;
}

.package-price#Terabyte {
	position: relative;
	top: 205px;
}

.package-price#Petabyte {
	position: relative;
	top: 36px;
}

#custom-package {
	justify-content: left;
	margin-top: 50px;
	margin-left: 1vw;
	margin-right: 1vw;
	height: 160px;
	border-radius: 15px;
	background-color: #dadfff;
	overflow: scroll;

}

#custom-title {
	position: relative;
	top: 24px;
	left: -40vw;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 36px;
	height: 
}

#custom-content {
	position: relative;
	top: 5vh;
	text-align: center;
}

#faq-contact {
	height: 100px;
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
}

#faq-button {
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	height: 60px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20vw;
	box-shadow: 3px 3px 3px grey;
}

#faq-button:hover {
	cursor: pointer;
}

#contact-button {
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	height: 80px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25vw;
	box-shadow: 3px 3px 3px grey;
}

#contact-button:hover {
	cursor: pointer;
}

#thank-you {
	height: 260px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 36px;
	display: flex;
	flex-direction: column;
	text-align: bottom;
}

#sponsors-collage {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#sponsor {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.image {
	width: 300px;
	height: auto;
}

.row {
	margin-top: 24px;
}

.row#row1 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.row#row2 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.row#row3 {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#footer {

}
